<!-- ユーザーの詳細 -->
<div>
  <h1>User info</h1>
    <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name<%= @user.name %></h3>
  <h3>introduction<%= @user.introduction</h3>
  <% if user_signed_in? %>
    <p><%= link_to "プロフィール編集", edit_user_path(user_id) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
  <% @books.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
    <p>image<%= image_tag book.user.get_profile_image(100,100) %></p>
    <p>Title<%= book.title %></p>
    <p>Opinion<%= book.body %>
    <% if book.user_id == current_user.id.to_s %>
    <%= link_to "edit", edit_book_path(book) %>
    <%= link_to "削除", bok_path(book), method: :delete %>
    <% end %>
  </div>
<% end %>
