<!-- ユーザーの詳細 -->
<div>
  <h2>User info</h2>

  <%= image_tag @user.get_profile_image(100,100) %>

  <h3>name<%= @user.name %></h3>

  <h4>introduction<%= @user.introduction %></h3>
   <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h1>New book</h1>
<%= form_with model: @book_new, local:true do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Opinion</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>
  <% end %>

<!-- ユーザーの投稿一覧 -->
<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
  <% end %>
  <p><%= book.body %></p>
</div>
<% end %>