<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <h2>User info</h2>

  <%= image_tag @user.get_profile_image(100,100) %>

  <h3>name<%= @user.name %></h3>

  <h4>introduction<%= @user.introduction %></h3>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
</div>

<h2>New book</h2>

<%= form_with model:@book, local:true do |f| %>

<p>Title</p>
<%= f.text_area :title %>

<p>Opinion</p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>

<% end %>

<h2>Books</h2>
<% @books.each do |book| %>
<div>

  <%= image_tag book.user.get_profile_image(100, 100) %>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
  <%= book.body %>
  </div>
<% end %>